extends layout/layout
block content
  section.section.section-3d
    
    .section-3d__container
      //scene
      .section-3d__scene
        .section-3d__scene-inner
          .section-3d__scene-canvas
            canvas(data-scene-size-element)
      
      //screen
      .section-3d-screen.section-3d-screen-1
        .container
          .section-3d-screen-1__title
            .row 
              .section-3d-screen-1__item
                h3.offset-xxl-1.offset-xl-2.col-xxl-10.col-xl-8.section-3d-screen-1__item-inner Композитные бассейны
                  br 
                  mark премиум качества
          .section-3d-screen-1__text
            .row.section-3d-screen-1__row
              .offset-xxl-1.offset-xl-2.col-xl-2.section-3d-screen-1__item
                .section-3d-screen-1__item-inner Бассейны<br> Сompass pools
              .section-3d-screen-1__item.section-3d-screen-1__link-container.offset-xl-2.offset-xxl-4.col-xl-4  
                a(href="https://inpoolconcept.ru/" target='_blank' rel='noopener').section-3d-screen-1__link.section-3d-screen-1__item-inner
                  img(src="./img/inpool.svg", alt="inpool").icon
                  .item-message
                    .item-message__container INPOOL Concept® — технологии<br> строительства бассейнов

      //screen
      .section-3d-screen.section-3d-screen-2.animated-head
        .container.animated-head__container.section-3d-screen-2__container
          h5.animated-head__sub-title Compass pools
          h2.h1.animated-head__title Совершенство<br> формы.

      //screen
      .section-3d-screen.section-3d-screen-3
        .container.section-3d-screen-3__container
          .row 
            .section-3d-screen-3__text.offset-lg-8.col-lg-4 
              p 
                strong Строим со знанием того, зачем бассейны нужны вам, 
                | как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.

      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Слой винилэфирной смолы усиленный стекловолокном
      
      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Ceramic Core®

      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Усиление из стеклокерамики

      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Слой винилэфирной смолы, усиленный стекловолокном

      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Барьерный слой винилэфирной смолы

      //screen
      .section-3d-screen.section-3d-screen-layout
        .container.section-3d-screen-layout__container
          .row
            h3.col-xl-5 Покрытие<br> Bi-Luminate & Nova Colours
    
    
    
    
    
    //1
    //.section-3d-part.section-3d-part-1
      .section-3d-part__container.section-3d-part-1__container
        //
        .section-3d-screen.section-3d-screen-1
          .container
            .section-3d-screen-1__title
              .row 
                .section-3d-screen-1__item
                  h3.offset-xxl-1.offset-xl-2.col-xxl-10.col-xl-8.section-3d-screen-1__item-inner Композитные бассейны
                    br 
                    mark премиум качества
            .section-3d-screen-1__text
              .row.section-3d-screen-1__row
                .offset-xxl-1.offset-xl-2.col-xl-2.section-3d-screen-1__item
                  .section-3d-screen-1__item-inner Бассейны<br> Сompass pools
                .section-3d-screen-1__item.section-3d-screen-1__link-container.offset-xl-2.offset-xxl-4.col-xl-4  
                  a(href="https://inpoolconcept.ru/" target='_blank' rel='noopener').section-3d-screen-1__link.section-3d-screen-1__item-inner
                    img(src="./img/inpool.svg", alt="inpool").icon
                    .item-message
                      .item-message__container INPOOL Concept® — технологии<br> строительства бассейнов

        //
        .section-3d-screen.section-3d-screen-2.animated-head
          .container.animated-head__container
            h5.animated-head__sub-title Compass pools
            h2.h1.animated-head__title Совершенство<br> формы.
        //
        .section-3d-screen.section-3d-screen-3
          .container
            .row 
              .section-3d-screen-3__text.offset-lg-8.col-lg-4 
                p 
                  strong Строим со знанием того, зачем бассейны нужны вам, 
                  | как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.

    //2
    //.section-3d-part.section-3d-part-2
      .section-3d-part__container.section-3d-part-2__container

        //точки технологий
        .section-3d-screen.section-3d-screen-4.section-3d-info
          .section-3d-screen-4__container(data-scene-size-element)
            .section-3d-info__item.section-3d-info__item_1 
              span Покрытие Bi-Luminate & Nova Colours

            .section-3d-info__item.section-3d-info__item_2
              span Антискользящее покрытие SlipStop®

            .section-3d-info__item.section-3d-info__item_3
              span Барьерный слой винилэфирной смолы

            .section-3d-info__item.section-3d-info__item_4
              span Слой винилэфирной смолы усиленный стекловолокном

            .section-3d-info__item.section-3d-info__item_5
              span Ceramic Core®

            .section-3d-info__item.section-3d-info__item_6
              span Замкнутый борт

            .section-3d-info__item.section-3d-info__item_7
              span Слой полиэфирной смолы усиленный стекловолокном

    //3
    //.section-3d-part.section-3d-part-3
      .section-3d-part__container.section-3d-part-3__container
        
        .section-3d-screen.section-3d-screen-5.animated-head
          .container.animated-head__container
            h5.animated-head__sub-title Технологии
            h2.h1.animated-head__title Инновационные<br> преимущества.

        //точки технологий
        .section-3d-screen.section-3d-screen-6.section-3d-dots
          .section-3d-dots__container(data-scene-size-element)
            .section-3d-dots__item.section-3d-dots__item_1(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Система управления бассейном<br> INPOOL ASM CONTROL
            .section-3d-dots__item.section-3d-dots__item_2(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Фильтр с высокой загрузкой INPOOL
            .section-3d-dots__item.section-3d-dots__item_3(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Станция дозирования хим. реагентов INPOOL Dispense Control
            .section-3d-dots__item.section-3d-dots__item_4(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Ультрафиолет среднего давления
            .section-3d-dots__item.section-3d-dots__item_5(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Теплообменник
            .section-3d-dots__item.section-3d-dots__item_6(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Циркуляционный насос фильтрации
            .section-3d-dots__item.section-3d-dots__item_7(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Циркуляционный насос системы автоматической очистки бассейна Vantage
            .section-3d-dots__item.section-3d-dots__item_8(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Клапан автоматической обратной промывки фильтра Besgo
            .section-3d-dots__item.section-3d-dots__item_9(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Коллектор автоматической системы очистки бассейна Vantage
            .section-3d-dots__item.section-3d-dots__item_10(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Ребра жёсткости Maxi RIB
            .section-3d-dots__item.section-3d-dots__item_11(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Жалюзийное покрытие

  section.section.home-screen.screen
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
    .container.home-screen__container
      .home-screen__center.row 
        .offset-1.col-11.home-screen__image
          img(data-src="./img/home.jpg", alt="image").lazyload.lazypreload

        .home-screen__text.offset-1.col-11
          span.home-screen__label Бассейны Сompass pools
          h3.home-screen__title Композитные бассейны 
            mark премиум качества

      .home-screen__bottom.row 
        span.home-screen__bottom-label.col-auto.offset-1 Бассейны<br> Сompass pools
        .home-screen__link.col-auto
          a(href="https://inpoolconcept.ru/" target='_blank' rel='noopener').home-screen__link-element
            img(src="./img/inpool.svg", alt="inpool").icon
  
  section.section.section-form.section-animated
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
    .animated-head.section-animated__head
      .container.animated-head__container
        h5.animated-head__sub-title Compass pools
        h2.h1.animated-head__title Совершенство формы.
    .section-animated__content.container 
      .section-form__image
        img(src="./img/pool_form.png", alt="image").lazyload.lazypreload
      .section-form__text.mobile-fade-in.row 
        p.offset-sm-6.col-sm-6.mobile-fade-in__content
          strong Строим со знанием того, зачем бассейны нужны вам, 
          | как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.
        
  section.section.section-animated.section-preview
    .animated-head.section-animated__head
      .container.animated-head__container
        h5.animated-head__sub-title А в жизни как?
        h2.h1.animated-head__title Представьте.
    .section-animated__content
      .section-preview__full-screen-image.mobile-fade-in
        .image.image_cover.mobile-fade-in__content
          img(src="./img/final.jpg", alt="image").lazyload.lazypreload

      .section-preview__small-images-container.container 
        .row 
          .section-preview__small-image.section-preview__small-image_1.mobile-fade-in.offset-4.offset-sm-1.offset-lg-0.col-7.col-sm-4.col-lg-3
            .image.image_cover.parallax-image.mobile-fade-in__content
              img(src="./img/small1.jpg", alt="image").lazyload.lazypreload
          .section-preview__small-image.section-preview__small-image_2.mobile-fade-in.offset-6.offset-sm-4.offset-lg-0.col-6.col-sm-4.col-lg-3
            .image.image_cover.parallax-image.mobile-fade-in__content
              img(src="./img/small2.jpg", alt="image").lazyload.lazypreload
          .section-preview__small-image.section-preview__small-image_3.mobile-fade-in.offset-sm-2.offset-lg-0.col-10.col-sm-4.col-lg-3
            .image.image_cover.parallax-image.mobile-fade-in__content
              img(src="./img/small3.jpg", alt="image").lazyload.lazypreload

  section.section.section-choose-models.section-animated
    -var block1 = ['Aqua', 'прямоугольная модель со ступенями, расположенными в угловой части', './img/desktop-models/1.jpg', '#aqua']
    -var block2 = ['X-trainer', 'прямоугольная модель со ступенями, расположенными зеркально вдоль длинных бортов', './img/desktop-models/2.jpg', '#x-trainer']
    -var block3 = ['Riverina', 'бассейн красивой формы, плавно изогнутая линия борта придает неповторимое изящество', './img/desktop-models/3.jpg', '#riverina']
    -var block4 = ['Java', 'прямоугольная модель с римской лестницей и двумя зонами отдыха', './img/desktop-models/4.jpg', '#java']
    -var block5 = ['Briliant', 'прямоугольная модель со стильной угловой лестницей', './img/desktop-models/5.jpg', '#briliant']
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
    .animated-head.section-animated__head
      .container.animated-head__container
        h5.animated-head__sub-title Выберите модель 
        h2.h1.animated-head__title Ценим индивидуаль&shy;ность.
    .section-animated__content
      .desktop-models-list.container
        .desktop-models-list__images 
          .desktop-models-list__image
            .image.image_cover
              img(data-src=block1[2], alt="image").lazyload.lazypreload
            .image.image_cover
              img(data-src=block2[2], alt="image").lazyload.lazypreload
            .image.image_cover
              img(data-src=block3[2], alt="image").lazyload.lazypreload
            .image.image_cover
              img(data-src=block4[2], alt="image").lazyload.lazypreload
            .image.image_cover
              img(data-src=block5[2], alt="image").lazyload.lazypreload

        .desktop-models-list__items
          mixin block(title, text, modal)
            //block
            a(href=modal data-modal='open' data-cursor='light').pool-model-item
              .row.pool-model-item__container 
                h2.offset-lg-1.col-lg-4.pool-model-item__title=title
                p.col-lg-6.pool-model-item__description=text
          +block(block1[0], block1[1], block1[3])
          +block(block2[0], block2[1], block2[3])
          +block(block3[0], block3[1], block3[3])
          +block(block4[0], block4[1], block4[3])
          +block(block5[0], block5[1], block5[3])

      .mobile-models-slider.swiper
        .swiper-container
          .swiper-wrapper
            mixin slide(title, text, img, modal)
              //slide
              .swiper-slide.mobile-models-slider__slide 
                .image.image_cover.mobile-models-slider__slide-image
                  img(data-src=img, alt="image").swiper-lazy
                .container
                  h2.mobile-models-slider__slide-title=title
                  .row.mobile-models-slider__slide-text
                    p.offset-md-1.col-md-10=text
                  a(href=modal data-modal='open').button.button_style-2 Подробнее о модели
            +slide(block1[0], block1[1], block1[2], block1[3])
            +slide(block2[0], block2[1], block2[2], block2[3])
            +slide(block3[0], block3[1], block3[2], block3[3])
            +slide(block4[0], block4[1], block4[2], block4[3])
            +slide(block5[0], block5[1], block5[2], block5[3])

        .swiper-pagination

      
      .section-choose-models__more
        a(href="#modal-shema" data-modal='open').btn-link.section-choose-models__btn
          span.d-none.d-xl-block Посмотреть таблицу сравнения моделей 
          span.d-xl-none Таблица сравнения моделей

  section.section.section-colors.section-animated
    .animated-head.section-animated__head
      .container.animated-head__container
        h5.animated-head__sub-title Уникальные цвета покрытий
        h2.h1.animated-head__title Пляжи лучших курортов.
    .section-animated__content
      .colors-slider 
        .colors-slider__head
          .colors-slider__head-inner
            .container.colors-slider__head-container
              .colors-slider__navigation
                button.colors-slider__navigation-trigger Гавайи
                button.colors-slider__navigation-trigger о. Маврикий
                button.colors-slider__navigation-trigger о. Таити
                button.colors-slider__navigation-trigger Мальдивы
                button.colors-slider__navigation-trigger о. Занзибар
                button.colors-slider__navigation-trigger о. Мадагаскар
                button.colors-slider__navigation-trigger Сейшелы
              .colors-slider__line
                .colors-slider__slider-element

        .colors-slider__container.container
          .colors-slider__wrapper
            mixin slide(title, image1, image2, image3, classes, classes2, tema)
              //slide
              .colors-slide
                .colors-slide__left.colors-slide__element
                  .colors-slide__element-inner.image.image_cover
                    img(data-src=image1, alt="image").lazyload.lazypreload
                .colors-slide__center.colors-slide__element
                  .colors-slide__element-inner
                    .colors-slide__back
                      .image.image_cover
                        img(data-src=image2, alt="image").lazyload.lazypreload
                      .colors-slide__title.colors-slide__back-title
                        .h1.colors-slide__title-element.colors-slide__title-element_1=title
                    .colors-slide__front 
                      .colors-slide__front-container
                        .image.image_cover
                          img(data-src=image2, alt="image").lazyload.lazypreload
                        .colors-slide__title.colors-slide__front-title
                          h2.h1.colors-slide__title-element(class=classes)=title

                .colors-slide__right.colors-slide__element
                  .colors-slide__element-inner.image.image_cover
                    img(data-src=image3, alt="image").lazyload.lazypreload
                .colors-slide__text.colors-slide__element
                  .colors-slide__element-inner
                    .colors-slide__element-text
                      p Приятный глубокий голубой цвет, напоминающий живописный тропический пляж
                    a(href="#modal-form" data-modal='open' data-modal-subject='Цвет '+title class=classes2).button.colors-slide__button Выбрать этот цвет
            
            +slide('Blue Saphire', './img/colors/1_1.jpg', './img/colors/1_2.jpg', './img/colors/1_3.jpg', 'colors-slide__title-element_1', 'colors-slide__button_style-1')
            +slide('Smokey Quartz', './img/colors/2_1.jpg', './img/colors/2_2.jpg', './img/colors/2_3.jpg', 'colors-slide__title-element_2', 'colors-slide__button_style-2')
            +slide('Golden Pebble', './img/colors/3_1.jpg', './img/colors/3_2.jpg', './img/colors/3_3.jpg', 'colors-slide__title-element_3', 'colors-slide__button_style-3')
            +slide('Nova Navy', './img/colors/4_1.jpg', './img/colors/4_2.jpg', './img/colors/4_3.jpg', 'colors-slide__title-element_4', 'colors-slide__button_style-4')
            +slide('Nova Pearl', './img/colors/5_1.jpg', './img/colors/5_2.jpg', './img/colors/5_3.jpg', 'colors-slide__title-element_5', 'colors-slide__button_style-5')
            +slide('Nova Blue', './img/colors/6_1.jpg', './img/colors/6_2.jpg', './img/colors/6_3.jpg', 'colors-slide__title-element_6', 'colors-slide__button_style-6')
            +slide('Nova Graphite', './img/colors/7_1.jpg', './img/colors/7_2.jpg', './img/colors/7_3.jpg', 'colors-slide__title-element_7', 'colors-slide__button_style-7')

  section.section.section-video-animation
    .section-video-animation__inner
      .section-video-animation__scene.image.image_cover
        img(data-src="./img/drone_video/020.jpg", alt="image").lazyload
        canvas
        
      .container.section-video-animation__container
        .row
          h2.h1.section-video-animation__title Построим за месяц
          p.section-video-animation__text.offset-md-4.offset-lg-6.offset-xl-7.offset-xxl-8.col-xxl-4.col-xl-5.col-lg-6.col-md-8 На всех этапах мы предлагаем сопровождение объекта и взаимодействие наших специалистов, представителей клиента, самого клиента в единой электронной системе, предназначенной для эффективного взаимодействия, скорости обмена данными и актуализации задач.

  section.section.section-technologies
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
    .container.section-technologies__container 
      .row
        mixin block1(image, title, text, link, classes, classes2, classes3, type)
          //block
          .technologies-block.mobile-fade-in(class=classes2)
            .technologies-block__container.mobile-fade-in__content
              .technologies-block__image(class=classes)
                .image.image_cover.parallax-image
                  img(data-src=image, alt="image").lazyload.lazypreload
              .technologies-block__content(class=classes3)
                .technologies-block__text
                  h6.technologies-block__title=title
                  p=text
                if type==2
                  .gift-message.technologies-block__gift
                    svg.icon
                      use(xlink:href='./img/icons/sprite.svg#gift')
                    span При заключении договора проект в подарок!
                a(href=link data-modal='open').btn-link.technologies-block__button Подробнее 
    
        +block1(
          './img/technologies/1.jpg',
          'Compass Pools Bi-Luminite & Nova',
          'Специалисты из Compass Pools создали новую цветовую палитру, сконцентрировав свое внимание не на технической поверхности бассейна, а на цвете воды, взятом из естественных тропических курортных зон.',
          '#CompassPoolsBiLuminite',
          'technologies-block__image_1',
          'technologies-block_1 col-md-5 col-lg-3',
          'technologies-block__content_1'
        )
        .d-none.d-lg-block.col-lg-3(style='order:3;')
        +block1(
          './img/technologies/3.jpg',
          'Технология SlipStop®',
          'Slipstop в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности.',
          '#Slipstop',
          'technologies-block__image_3',
          'technologies-block_3 col-md-5 col-lg-3',
          'technologies-block__content_3'
        )
        .d-none.d-lg-block.col-lg-12(style='order:4;')
        +block1(
          './img/technologies/5.jpg',
          '3D проектирование бассейна и оборудования',
          'Создание 3D-модели, которая наглядно демонстрирует, как будет выглядеть готовый объект.',
          '#service3d',
          'technologies-block__image_5',
          'technologies-block_5 col-md-5 col-lg-3',
          'technologies-block__content_5',
          '2'
        )
        +block1(
          './img/technologies/2.jpg',
          'Vantage',
          'Интеллектуальный инструмент удаленного доступа и диспетчеризации позволяет сервисным службам дистанционно наблюдать за системой водоподготовки.',
          '#Vantage',
          'technologies-block__image_2',
          'technologies-block_2 col-md-5 col-lg-3',
          'technologies-block__content_2'
        )
        +block1(
          './img/technologies/4.jpg',
          'Жалюзи для бассейна',
          'Закончив строительство бассейна на собственной территории, возникает закономерный вопрос: чем его накрыть?',
          '#jalousie',
          'technologies-block__image_4',
          'technologies-block_4 col-md-5 col-lg-3',
          'technologies-block__content_4'
        )
        .d-none.d-lg-block.col-lg-3(style='order:7;')

  section.section.section-animated.contact-form
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
    .animated-head.section-animated__head
      .container.animated-head__container
        h5.animated-head__sub-title Контакты
        h2.h1.animated-head__title Давайте знакомиться.
    .section-animated__content.container.contact-form__content
      .row.contact-form__title
        h4.offset-1.col-10.offset-md-2.col-md-8.offset-xl-1.col-xl-10.contact-form__title-element Оставьте свои контакты и мы вам перезвоним
      form.form.contact-form__form.row
        input(type="text" name='subject' value='Форма обратной связи' hidden).form__subject
        .col-md-8.col-xl-6 
          .form__item
            label.input
              span.input__title Ваше имя  
                mark *
              input(type="text" name="name" data-validate='name' data-required).input__element
          .form__item
            label.input
              span.input__title Номер телефона 
                mark *
              input(type="text" name="phone" data-validate='phone' data-required).input__element
          .form__item
            label.input
              span.input__title Комментарий
              textarea(name="message" data-validate='message').input__element
            
          .form__submit
            button.button.button_style-1.button_loader 
              span Отправить
              svg(viewBox='0 0 120 30' fill='currentColor')
                circle(cx='15' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                  animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                circle(cx='105' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
            p.form__message Нажимая кнопку “Отправить” вы соглашаетесь<br> с условиями 
              a(href="#politics" data-modal='open') Политики конфиденциальности

  section.section.contacts-block 
    .contacts-block__top
      .container 
        .row 
          .offset-1.col-10.offset-xl-0.col-xl-6.contacts-block__contacts
            .contacts-block__item
              a(href="mailto:mail@centr-bassein.ru").link.h3.contacts-block__link mail@centr-bassein.ru
            .contacts-block__item
              a(href="tel:+79269659259").h3.contacts-block__phone +7 926 965-9259
          .offset-1.col-10.offset-md-4.col-md-8.offset-xl-1.col-xl-5.contacts-block__text
            .contacts-block__text-content
              p Россия, Московская область, Красногорский район, Ильинское сельское поселение, Новорижское шоссе, 27-й км (10 км от МКАД), Садовый центр Балтия Гарден,  Центр Бассейнов
            .contacts-block__image.image.image_cover.parallax-image
              img(data-src="./img/maxresdefault 1.jpg", alt="image").lazyload
            
    .contacts-block__map
      svg.contacts-block__map-loader(viewBox='0 0 120 30' fill='currentColor')
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')


