extends layout/layout
block content
  section.section.section-model
    .section-model__scene
      canvas

    //1
    .section-model-screen.section-model-screen_1
      .container
        .row 
          h3.offset-xl-1.col-xl-10.section-model-screen__title-1.section-model-screen__item-1 Композитные бассейны
            br 
            mark премиум качества
        .section-model-screen__text-1
          .row
            .offset-xl-1.col-xl-2.section-model-screen__item-1 Бассейны<br> Сompass pools
            .offset-xl-2.col-xl-2.section-model-screen__item-1 Сервисное<br> обслуживание
            .offset-xl-2.col-xl-2.section-model-screen__item-1 Технологии<br> нового поколения

    //2
    .animated-head.section-model-screen.section-model-screen_2
      .container.animated-head__container
        h5.animated-head__sub-title Compass pools
        h2.h1.animated-head__title Совершенство<br> формы.
    
    //3
    .section-model-screen.section-model-screen_3
      .container
        .row 
          p.offset-xl-8.col-xl-4.section-model-screen__text-3
            mark Строим со знанием того, зачем бассейны нужны вам, 
            | как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.


  section.section.section-video-animation
    .section-video-animation__scene
      canvas
    .container.section-video-animation__container
      .row
        h2.h1.section-video-animation__title Построим за 2 недели
        p.section-video-animation__text.offset-xl-7.offset-xxl-8.col-xxl-4.col-xl-5 На всех этапах мы предлагаем сопровождение объекта и взаимодействие наших специалистов, представителей клиента, самого клиента в единой электронной системе, предназначенной для эффективного взаимодействия, скорости обмена данными и актуализации задач.

  section.section.section-technologies
    .container.section-technologies__container 
      .row
        mixin block1(image, title, text, link, classes, classes2)
          //block
          .technologies-block.col-xl-3(class=classes2)
            .technologies-block__image.mb-1(class=classes)
              .image.image_cover
                img(data-src=image, alt="image").lazyload
            .technologies-block__text.mb-1
              h6.technologies-block__title=title
              p=text
            a(href=link).btn-link Подробнее 
        
        +block1(
          './img/technologies/1.jpg',
          'Технология SlipStop®',
          'Slipstop в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности.',
          'javascript:void(0);',
          'technologies-block__image_1',
          'technologies-block_1'
        )
        +block1(
          './img/technologies/2.jpg',
          'Жалюзи для бассейна',
          'Закончив строительство бассейна на собственной территории, возникает закономерный вопрос: чем его накрыть?',
          'javascript:void(0);',
          'technologies-block__image_2',
          'technologies-block_2'
        )
        +block1(
          './img/technologies/3.jpg',
          'Удаленное управление',
          'Интеллектуальный инструмент удаленного доступа и диспетчеризации позволяет сервисным службам дистанционно наблюдать за системой водоподготовки.',
          'javascript:void(0);',
          'technologies-block__image_3',
          'technologies-block_3'
        )
        .col-xl-12
        +block1(
          './img/technologies/5.jpg',
          'Сервис',
          'Slipstop в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности.',
          'javascript:void(0);',
          'technologies-block__image_5',
          'technologies-block_5'
        )
        +block1(
          './img/technologies/4.jpg',
          'Зимнее использование',
          'Закончив строительство бассейна на собственной территории, возникает закономерный вопрос: чем его накрыть?',
          'javascript:void(0);',
          'technologies-block__image_4',
          'technologies-block_4'
        )
        .col-xl-3
        .col-xl-12
        .col-xl-3
        +block1(
          './img/technologies/6.jpg',
          'Vantage',
          'Интеллектуальный инструмент удаленного доступа и диспетчеризации позволяет сервисным службам дистанционно наблюдать за системой водоподготовки.',
          'javascript:void(0);',
          'technologies-block__image_6',
          'technologies-block_6'
        )
        .col-xl-3


  section.section.animated-section.contact-form.mb-1
    .animated-head
      .container.animated-head__container
        h5.animated-head__sub-title Контакты
        h2.h1.animated-head__title Давайте знакомиться.
    .container.animated-section__content.contact-form__content
      h4.contact-form__title Оставьте свои контакты и мы вам перезвоним
      form(autocomplete="off").form.contact-form__form.row
        .col-xl-6 
          .form__item
            label.input
              span.input__title Ваше имя  
                mark *
              input(type="text" name="name" data-validate='name' data-required).input__element
          .form__item
            label.input
              span.input__title Номер телефона 
                mark *
              input(type="text" name="phone" data-validate='phone' data-required).input__element
          .form__item
            label.input
              span.input__title Комментарий
              textarea(name="message" data-validate='message').input__element
            
          .form__submit
            button.button.button_style-1.button_loader 
              span Отправить
              svg(viewBox='0 0 120 30' fill='currentColor')
                circle(cx='15' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                  animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                circle(cx='105' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
            p.form__message Нажимая кнопку “Отправить” вы соглашаетесь<br> с условиями 
              a(href="javascript:void(0);") Политики конфиденциальности

  section.section.contacts-block 
    .contacts-block__top.pt-1.pb-1
      .container 
        .row 
          .col-xl-6.contacts-block__contacts
            .contacts-block__item.mb-1
              a(href="mailto:mail@centr-bassein.ru").link.h3.contacts-block__link mail@centr-bassein.ru
            .contacts-block__item.mb-1
              a(href="tel:+79269659259").h3.contacts-block__phone +7 926 965-9259
          .offset-xl-1.col-xl-5.contacts-block__text
            p Россия, Московская область, Красногорский район, Ильинское сельское поселение, Новорижское шоссе, 27-й км (10 км от МКАД), Садовый центр Балтия Гарден,  Центр Бассейнов
    .contacts-block__map
      svg.contacts-block__map-loader(viewBox='0 0 120 30' fill='currentColor')
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')