extends layout/layout
block content
  section.section.section-3d
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
      .background-figure.background-figure_3(data-parallax='0.5')

    .section-3d__scene
      .section-3d__scene-inner
        .section-3d__scene-canvas
          canvas(data-scene-size-element)

    //1
    .section-3d-part.section-3d-part-1
      .section-3d-part__container.section-3d-part-1__container
        //
        .section-3d-screen.section-3d-screen-1
          .container
            .section-3d-screen-1__title
              .row 
                .section-3d-screen-1__item
                  h3.offset-xxl-1.offset-xl-2.col-xxl-10.col-xl-8.section-3d-screen-1__item-inner Композитные бассейны
                    br 
                    mark премиум качества
            .section-3d-screen-1__text
              .row
                .offset-xxl-1.offset-xl-2.col-xl-2.section-3d-screen-1__item
                  .section-3d-screen-1__item-inner Бассейны<br> Сompass pools
                .offset-xxl-2.offset-xl-1.col-xl-2.section-3d-screen-1__item
                  .section-3d-screen-1__item-inner Сервисное<br> обслуживание
                .offset-xxl-2.offset-xl-1.col-xl-2.section-3d-screen-1__item
                  .section-3d-screen-1__item-inner Технологии<br> нового поколения
        //
        .section-3d-screen.section-3d-screen-2.animated-head
          .container.animated-head__container
            h5.animated-head__sub-title Compass pools
            h2.h1.animated-head__title Совершенство<br> формы.
        //
        .section-3d-screen.section-3d-screen-3
          .container
            .row 
              .section-3d-screen-3__text.offset-lg-8.col-lg-4 
                p 
                  strong Строим со знанием того, зачем бассейны нужны вам, 
                  | как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.

    //2
    .section-3d-part.section-3d-part-2
      .section-3d-part__container.section-3d-part-2__container

        //точки технологий
        .section-3d-screen.section-3d-screen-4.section-3d-info
          .section-3d-screen-4__container(data-scene-size-element)
            .section-3d-info__item.section-3d-info__item_1 
              span Покрытие Bi-Luminate & Nova Colours

            .section-3d-info__item.section-3d-info__item_2
              span Антискользящее покрытие SlipStop®

            .section-3d-info__item.section-3d-info__item_3
              span Барьерный слой винилэфирной смолы

            .section-3d-info__item.section-3d-info__item_4
              span Слой винилэфирной смолы усиленный стекловолокном

            .section-3d-info__item.section-3d-info__item_5
              span Ceramic Core®

            .section-3d-info__item.section-3d-info__item_6
              span Замкнутый борт

            .section-3d-info__item.section-3d-info__item_7
              span Слой полиэфирной смолы усиленный стекловолокном



    //3
    .section-3d-part.section-3d-part-3
      .section-3d-part__container.section-3d-part-3__container
        
        .section-3d-screen.section-3d-screen-5.animated-head
          .container.animated-head__container
            h5.animated-head__sub-title Технологии
            h2.h1.animated-head__title Инновационные<br> преимущества.

        //точки технологий
        .section-3d-screen.section-3d-screen-6.section-3d-dots
          .section-3d-dots__container(data-scene-size-element)
            .section-3d-dots__item.section-3d-dots__item_1(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Система управления бассейном<br> INPOOL ASM CONTROL
            .section-3d-dots__item.section-3d-dots__item_2(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Фильтр с высокой загрузкой INPOOL
            .section-3d-dots__item.section-3d-dots__item_3(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Станция дозирования хим. реагентов INPOOL Dispense Control
            .section-3d-dots__item.section-3d-dots__item_4(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Ультрафиолет среднего давления
            .section-3d-dots__item.section-3d-dots__item_5(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Теплообменник
            .section-3d-dots__item.section-3d-dots__item_6(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Циркуляционный насос фильтрации
            .section-3d-dots__item.section-3d-dots__item_7(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Циркуляционный насос системы автоматической очистки бассейна Vantage
            .section-3d-dots__item.section-3d-dots__item_8(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Клапан автоматической обратной промывки фильтра Besgo
            .section-3d-dots__item.section-3d-dots__item_9(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Коллектор автоматической системы очистки бассейна Vantage
            .section-3d-dots__item.section-3d-dots__item_10(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Ребра жёсткости Maxi RIB
            .section-3d-dots__item.section-3d-dots__item_11(data-touch-hover)
              .section-3d-dots__item-message 
                .section-3d-dots__item-message-container Жалюзийное покрытие

    //4
    .section-3d-part.section-3d-part-4
      .section-3d-part__container.section-3d-part-4__container
        
        .section-3d-screen.section-3d-screen-7.animated-head
          .container.animated-head__container
            h5.animated-head__sub-title А в жизни как?
            h2.h1.animated-head__title Представьте.

        .section-3d-screen.section-3d-screen-8
          .image.image_cover 
            img(src="./img/final.jpg", alt="image").lazyload



  section.section.section-choose-models.section-animated
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
    .animated-head
      .container.animated-head__container
        h5.animated-head__sub-title Выберите модель 
        h2.h1.animated-head__title Ценим индивидуальность.
    .section-animated__content.container
      .desktop-models-list
        .desktop-models-list__images 
          .desktop-models-list__image
            .image.image_cover
              img(data-src="./img/desktop-models/1.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/desktop-models/2.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/desktop-models/3.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/desktop-models/4.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/desktop-models/5.jpg", alt="image").lazyload

        .desktop-models-list__items
          a(href="#aqua" data-modal='open' data-cursor='light').pool-model-item
            .row.pool-model-item__container 
              h2.offset-lg-1.col-lg-4.pool-model-item__title Aqua
              p.col-lg-6.pool-model-item__description прямоугольная модель со ступенями, расположенными в угловой части
          a(href="#x-trainer" data-modal='open' data-cursor='light').pool-model-item
            .row.pool-model-item__container 
              h2.offset-lg-1.col-lg-4.pool-model-item__title X-trainer
              p.col-lg-6.pool-model-item__description прямоугольная модель со ступенями, расположенными зеркально вдоль длинных бортов
          a(href="#riverina" data-modal='open' data-cursor='light').pool-model-item
            .row.pool-model-item__container 
              h2.offset-lg-1.col-lg-4.pool-model-item__title Riverina
              p.col-lg-6.pool-model-item__description бассейн красивой формы, плавно изогнутая линия борта придает неповторимое изящество
          a(href="#java" data-modal='open' data-cursor='light').pool-model-item
            .row.pool-model-item__container 
              h2.offset-lg-1.col-lg-4.pool-model-item__title Java
              p.col-lg-6.pool-model-item__description прямоугольная модель с римской лестницей и двумя зонами отдыха
          a(href="#briliant" data-modal='open' data-cursor='light').pool-model-item
            .row.pool-model-item__container 
              h2.offset-lg-1.col-lg-4.pool-model-item__title Briliant
              p.col-lg-6.pool-model-item__description прямоугольная модель со стильной угловой лестницей
      .section-choose-models__more.mt-2
        a(href="#modal-shema" data-modal='open').btn-link Посмотреть таблицу сравнения моделей 


  section.section.section-colors.section-animated
    .animated-head
      .container.animated-head__container
        h5.animated-head__sub-title Уникальные цвета покрытий
        h2.h1.animated-head__title Пляжи лучших курортов.
    .section-animated__content
      .colors-slider 
        .colors-slider__head.container.mb-2
          .colors-slider__navigation
            button.colors-slider__navigation-trigger Гавайи
            button.colors-slider__navigation-trigger о. Маврикий
            button.colors-slider__navigation-trigger о. Таити
            button.colors-slider__navigation-trigger Мальдивы
            button.colors-slider__navigation-trigger о. Занзибар
            button.colors-slider__navigation-trigger о. Мадагаскар
          .colors-slider__line
            .image.image_cover 
              img(data-src="./img/texture.jpg", alt="image").lazyload.colors-slider__texture
            .colors-slider__slider-element

        .colors-slider__container.container
          .colors-slider__wrapper
            mixin slide(title, image1, image2, image3, classes, classes2)
              //slide
              .colors-slide
                .colors-slide__left.colors-slide__element
                  .colors-slide__element-inner.image.image_cover
                    img(data-src=image1, alt="image").lazyload
                .colors-slide__center.colors-slide__element
                  .colors-slide__element-inner
                    .colors-slide__back
                      .image.image_cover
                        img(data-src=image2, alt="image").lazyload
                      .colors-slide__title.colors-slide__back-title
                        .h1.colors-slide__title-element.colors-slide__title-element_1=title
                    .colors-slide__front 
                      .colors-slide__front-container
                        .image.image_cover
                          img(data-src=image2, alt="image").lazyload
                        .colors-slide__title.colors-slide__front-title
                          h2.h1.colors-slide__title-element(class=classes)=title

                .colors-slide__right.colors-slide__element
                  .colors-slide__element-inner.image.image_cover
                    img(data-src=image3, alt="image").lazyload
                .colors-slide__text.colors-slide__element
                  .colors-slide__element-inner
                    p.mb-3 Приятный глубокий голубой цвет, напоминающий живописный тропический пляж
                    a(href="#modal-form" data-modal='open' class=classes2).button.colors-slide__button Выбрать этот цвет
            
            +slide('Blue Saphire', './img/colors/1_1.jpg', './img/colors/1_2.jpg', './img/colors/1_3.jpg', 'colors-slide__title-element_1', 'colors-slide__button_style-1')
            +slide('Smokey Quartz', './img/colors/2_1.jpg', './img/colors/2_2.jpg', './img/colors/2_3.jpg', 'colors-slide__title-element_2', 'colors-slide__button_style-2')
            +slide('Golden Pebble', './img/colors/3_1.jpg', './img/colors/3_2.jpg', './img/colors/3_3.jpg', 'colors-slide__title-element_3', 'colors-slide__button_style-3')
            +slide('Nova Navy', './img/colors/4_1.jpg', './img/colors/4_2.jpg', './img/colors/4_3.jpg', 'colors-slide__title-element_4', 'colors-slide__button_style-4')
            +slide('Nova Pearl', './img/colors/5_1.jpg', './img/colors/5_2.jpg', './img/colors/5_3.jpg', 'colors-slide__title-element_5', 'colors-slide__button_style-5')
            +slide('Nova Blue', './img/colors/6_1.jpg', './img/colors/6_2.jpg', './img/colors/6_3.jpg', 'colors-slide__title-element_6', 'colors-slide__button_style-6')

  section.section.section-video-animation
    .section-video-animation__inner
      .section-video-animation__scene
        canvas
      .container.section-video-animation__container
        .row
          h2.h1.section-video-animation__title Построим за месяц
          p.section-video-animation__text.offset-xl-7.offset-xxl-8.col-xxl-4.col-xl-5 На всех этапах мы предлагаем сопровождение объекта и взаимодействие наших специалистов, представителей клиента, самого клиента в единой электронной системе, предназначенной для эффективного взаимодействия, скорости обмена данными и актуализации задач.

  section.section.section-technologies
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
    .container.section-technologies__container 
      .row
        mixin block1(image, title, text, link, classes, classes2, type)
          //block
          .technologies-block.col-xl-3(class=classes2)
            .technologies-block__image.mb-3(class=classes)
              .image.image_cover
                img(data-src=image, alt="image").lazyload
            .technologies-block__text.mb-3
              h6.technologies-block__title=title
              p=text
            if type==2
              a(href=link rel='noopener' target='_blank').btn-link Подробнее на сервисном сайте 
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#out')
            else
              a(href=link data-modal='open').btn-link Подробнее 
    
        +block1(
          './img/technologies/1.jpg',
          'Compass Pools Bi-Luminite',
          'Специалисты из Compass Pools создали новую цветовую палитру, сконцентрировав свое внимание не на технической поверхности бассейна, а на цвете воды.',
          '#CompassPoolsBiLuminite',
          'technologies-block__image_1',
          'technologies-block_1'
        )
        +block1(
          './img/technologies/2.jpg',
          'Vantage',
          'Интеллектуальный инструмент удаленного доступа и диспетчеризации позволяет сервисным службам дистанционно наблюдать за системой водоподготовки.',
          '#Vantage',
          'technologies-block__image_2',
          'technologies-block_2'
        )
        .col-xl-3
        +block1(
          './img/technologies/3.jpg',
          'Технология SlipStop®',
          'Slipstop в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности.',
          '#Slipstop',
          'technologies-block__image_3',
          'technologies-block_3'
        )
        .col-xl-12
        +block1(
          './img/technologies/4.jpg',
          'Квалифицированный сервис',
          'Slipstop в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности.',
          '#',
          'technologies-block__image_4',
          'technologies-block_4',
          '2'
        )
        +block1(
          './img/technologies/5.jpg',
          'Жалюзи для бассейна',
          'Закончив строительство бассейна на собственной территории, возникает закономерный вопрос: чем его накрыть?',
          '#jalousie',
          'technologies-block__image_5',
          'technologies-block_5'
        )
        .col-xl-3

  section.section.section-animated.contact-form
    .figures-container.container
      .background-figure.background-figure_1(data-parallax='0.5')
      .background-figure.background-figure_2(data-parallax='0.5')
    .animated-head
      .container.animated-head__container
        h5.animated-head__sub-title Контакты
        h2.h1.animated-head__title Давайте знакомиться.
    .section-animated__content.container.contact-form__content
      .row.contact-form__title
        h4.offset-1.col-10.offset-md-2.col-md-8.offset-xl-1.col-xl-10.contact-form__title-element Оставьте свои контакты и мы вам перезвоним
      form(autocomplete="off").form.contact-form__form.row
        input(type="text" name='subject' value='Форма обратной связи' hidden).form__subject
        .col-md-8.col-xl-6 
          .form__item
            label.input
              span.input__title Ваше имя  
                mark *
              input(type="text" name="name" data-validate='name' data-required).input__element
          .form__item
            label.input
              span.input__title Номер телефона 
                mark *
              input(type="text" name="phone" data-validate='phone' data-required).input__element
          .form__item
            label.input
              span.input__title Комментарий
              textarea(name="message" data-validate='message').input__element
            
          .form__submit
            button.button.button_style-1.button_loader 
              span Отправить
              svg(viewBox='0 0 120 30' fill='currentColor')
                circle(cx='15' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                  animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                circle(cx='105' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
            p.form__message Нажимая кнопку “Отправить” вы соглашаетесь<br> с условиями 
              a(href="#politics" data-modal='open') Политики конфиденциальности

  section.section.contacts-block 
    .contacts-block__top
      .container 
        .row 
          .offset-1.col-10.offset-xl-0.col-xl-6.contacts-block__contacts
            .contacts-block__item
              a(href="mailto:mail@centr-bassein.ru").link.h3.contacts-block__link mail@centr-bassein.ru
            .contacts-block__item
              a(href="tel:+79269659259").h3.contacts-block__phone +7 926 965-9259
          .offset-1.col-10.offset-md-4.col-md-8.offset-xl-1.col-xl-5.contacts-block__text
            .contacts-block__text-content
              p Россия, Московская область, Красногорский район, Ильинское сельское поселение, Новорижское шоссе, 27-й км (10 км от МКАД), Садовый центр Балтия Гарден,  Центр Бассейнов
            .contacts-block__image.image.image_cover.parallax-image
              img(data-src="./img/maxresdefault 1.jpg", alt="image").lazyload
            
    .contacts-block__map
      svg.contacts-block__map-loader(viewBox='0 0 120 30' fill='currentColor')
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')